html
    head
        title Welcome!
        link(rel="stylesheet", href="/css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Pangolin", rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
    body
        main.container
          div.row
            a.col.s6.offset-s6.deco(href="/logout") Logout
          h1 YOU DID IT #{user.fullname}!
            img(src="/images/validation.png")
              
          
