html
    head
        title Welcome to my blog!
        link(rel="stylesheet", href="/css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Pangolin", rel="stylesheet")
    body
        main
            h1 bonjour
            for article in articles
              h1 #{article.title}
              
              



     
     
