html
    head
        title Welcome to my blog!
        link(rel="stylesheet", href="/css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Pangolin", rel="stylesheet")
    body
        main
            for article in articles
              article
                h1 #{article.title}
                form(method="post", action="/api/article/" + article.id + "/upvote")
                  button(type='submit') Vote
                
            form(method="post", action="/api/article")
                input#name(type='text', placeholder='Give a title to your article' name='title')
                button(type='submit') Send
              
              



     
     
